
.navbar{
    background-color:rgba(0,0,0,0.6)!important;
    border-color: rgba(0,0,0,0)!important;
}

.navbar-nav li a{
    font-size: 19px;
}

@media (max-width: 992px) {
  .navbar {
    background-color:rgba(0,0,0,1)!important;
    transition: color 5s;
    }
}

.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
  background-image: url(/images/TableThings.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(/images/picture2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(/images/picture3.jpg);
}